<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <%- include('partials/_header') %>
    <h2>URLs:</h2>
    <ul>
    <% for(let url in urls){ %>
      <li><%= `${url}`%> &#160; &#160; &#160; &#160; <a href="<%= urls[url] %>"><%= urls[url] %></a></li>
    <% } %>
    </ul>
    </br>
    <h3>&#160; &#160; &#160; &#160;<a href='/urls/new'>mini-fry a new yew</a></h3>
</body>
</html>