<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% for(let url in urls){ %>
        <% if(url === shortURL){ %>
            <h1><%=`${url}`%></h1>
            <form method="POST" action=<%=`/urls/${shortURL}`%>>
                <input type="text" id="newURL" name="newURL" placeholder="update url..."value="" /><br />
                <button type="submit">Update</button>
            </form>
        <% } %>
    <% } %>
</body>
</html>